.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}
.imgContainer{
  margin: 20px 50px;
  display: flex;
  overflow-x: scroll;
 
  
  
}
.imgContainer img{
  max-width: 25%;
  border: 1px solid black;
  
  margin: 0 5px; /* Adjust as needed */
  cursor: pointer;
  
border-radius: 4px;
}
.ShowImage{

  margin: auto;
  max-width:50%;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;

}
.ShowImage img{
  width: 100%;
  height: auto;
}
.homeImg img{
  max-width: 100%;
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  height: auto;
  margin: 5px;
  
}

